# Project: Pet Shelter Analysis (Continute)
## Clearn data before analyze (See Days 1).
## Update and analyze 
#### Question 1: Count the number of data recorded animals that appear 2 or more times in the dataset?
#### Question 2: How many animal had found 2 or more times from 2013-2014 and 2017-2018 in dataset?
#### Question 3: About how many animals are spayed/neutered each month?
#### Question 4: If spay/neuter for a dog costs 100 and a spay/neuter for a cat costs 50, how much did the shelter spend overtime on these procedures?
#### Question 5: What are the adoption rates for the following age groups?
<br>baby: 4 months and less
<br>young: 5 months - 2 years
<br>adult: 3 years - 10 years
<br>senior: 11+

- Import library

### Link to see what and how pandas and numpy work
https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#
<br>https://numpy.org/doc/1.25/reference/index.html#reference

## Before analyze

- Read file aac_intakes.csv and save in 'intake' dataframe

- Read file aac_outcomes.csv and save in 'outcome' dataframe

- Change data type, remove duplicate rows and rows contain null values (if any)

In [2]:
# Change data type from object to datetime64

In [220]:
# Remove all identical rows in data
# Use '.drop_duplicates()'

In [ ]:
# Check box to show how many rows are there after delete duplicate rows

In [221]:
# Delete all rows contain null values in 'animal_id' and times columns

In [ ]:
# Check box to show how many rows each dataframe after delete null values above
# Maybe there are the same

- Question 1: Count the number of data recorded animals that appear 2 or more times in the dataset?

- Question 2: How many animal had found 2 or more times from 2013-2014 and 2017-2018 in dataset?

- Question 3: About how many animals are spayed/neutered each month?

- Question 4: If spay/neuter for a dog costs 100 and a spay/neuter for a cat costs 50, how much did the shelter spend overtime on these procedures?

- Question 5: What are the adoption rates for the following age groups?
<br>baby: 4 months and less
<br>young: 5 months - 2 years
<br>adult: 3 years - 10 years
<br>senior: 11+

BONUS: HOW TO ADD NEW ROWS RECORD IN DATAFRAME

In [277]:
# Here is a random dataframe
ran_date = np.datetime64('2023-01-01', 'D') + np.random.randint(-365,365,size = 100)
ran_cate = np.random.choice(['A','B','C','D','E','F'], size = 100)
ran_num_int = np.random.randint(100, size = 100)
ran_num_float = np.round(np.random.uniform(0.0, 10.0, size = 100), 2)

ran_df = pd.DataFrame({
    'Date': ran_date,
    'Ran_Category': ran_cate,
    'Random_Int_Number': ran_num_int,
    'Random_Float_Number': ran_num_float})

ran_df

         Date Ran_Category  Random_Int_Number  Random_Float_Number
0  2023-01-13            C                 26                 5.60
1  2023-08-08            B                 74                 1.04
2  2022-04-30            C                  1                 9.13
3  2023-05-15            C                 86                 9.42
4  2022-02-16            F                 90                 9.12
..        ...          ...                ...                  ...
95 2023-12-08            C                 53                 6.28
96 2023-06-17            B                 63                 6.82
97 2022-01-22            B                  3                 7.95
98 2023-10-21            E                  1                 0.20
99 2022-12-02            E                 82                 3.46

[100 rows x 4 columns]

In [278]:
ran_df.loc[3] = ['2023-01-01', 'Alpha', 200, 0.1]  # adding a row
ran_df.index = ran_df.index + 1  # shifting index
ran_df = ran_df.sort_index()  # sorting by index
ran_df.head()

        Date Ran_Category  Random_Int_Number  Random_Float_Number
1 2023-01-13            C                 26                 5.60
2 2023-08-08            B                 74                 1.04
3 2022-04-30            C                  1                 9.13
4 2023-01-01        Alpha                200                 0.10
5 2022-02-16            F                 90                 9.12

In [ ]:
# Change form 'object' type to 'category'
ran_df[['Ran_Category']] = ran_df[['Ran_Category']].astype('category')
# Did you notice that the dataframe size after running this code is decrease

In [ ]:
# Writing a function to custom your analyze

# Multiply number function
def multiply_by_number(x_number):
    return(ran_df.Random_Float_Number * x_number)
print('multiply_by_3')
print(multiply_by_number(3))
print('_______________________________________________________1')
print('multiply_by_10')
print(multiply_by_number(10))
print('_______________________________________________________2')

# Calculate function
def sum_2columns_function(Random_Int_Number, Random_Float_Number):
    return(Random_Int_Number + Random_Float_Number)
print('sum_2columns')
sum_function(ran_df.Random_Int_Number, ran_df.Random_Float_Number)